body {
    width: 400px; /* your desired width */
    height: 500px;
    background-color: #22242c;
    text-align: center;
    font-family: metropolis bold,Helvetica,Verdana,Arial,sans-serif;
}

.title {
    color: white;
    padding-top: 17px;
    
}

.sub-title {
    color: white;
    padding-top: 20px;
    font-size: 20px;
    margin-bottom: 8px;
}

.auto-bumper {
    width: 16px;
    height: 16px;
}

.preset-title {
    color: white;
    font-size: 20px;
    display: inline-flex;
    text-align: left;
}

.preset {
    font-size: 16px;
    font-size: 1rem;
    font-family: rajdhani-medium-webfont,Helvetica,sans-serif;
    font-style: normal;
    height: 41px;
    letter-spacing: 2px;
    outline: 0;
    padding: 10px 12px 9px 15px;
    position: relative;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    border: 0;
    color: #fff;
    cursor: pointer;
    background-image: linear-gradient(135deg,#C32AFF 0,#9214FE 100%);
    box-shadow: 0 4px 12px 0 rgb(146 20 254 / 28%);
    border-radius: 20px;
    border-radius: 51px;
    margin-bottom: 20px;
}


.preset-wrapper {
    text-align: center;
}

.settings , .back {
    position: fixed;
    font-size: 32px;
    bottom: 0;
    right: 0;
    text-decoration: none;
    font-family: rajdhani-medium-webfont,Helvetica,sans-serif;
    outline: 0;
    transition: all .3s ease-in-out;
    border: 0;
    cursor: pointer;
    background-image: linear-gradient(135deg,#C32AFF 0,#9214FE 100%);
    box-shadow: 0 4px 12px 0 rgb(146 20 254 / 28%);
    border-radius: 10px 0px 0px 0px;
    padding: 3px;
}

.textBox {
    background: #2b2c36;
    background-color: #2b2c36;
    color: #fff;
    box-shadow: 0 1px 2px rgba(20,21,25,.4);
    border: 1px solid #1e1f26;
    font-family: Roboto,Helvetica,sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
    outline: 0;
    padding: 15px 20px;
    transition: all .3s ease-in-out;
    border-radius: 14px;
    width: 90%;
    margin: 0 auto;
    resize: none;
}